[submodule "RT_JS-webpack_01"]
	path = RT_JS-webpack_01
	url = https://github.com/loancarcamoh7196/RT_JS-webpack_01
[submodule "Platzi_Escuela_JS"]
	path = Platzi_Escuela_JS
	url = https://github.com/loancarcamoh7196/Platzi_Escuela_JS.git
